@font-face {
  font-family: 'Goyang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SerchInput{
  width: 100%;
  padding: 15px;
  font-size: 20px;
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
 
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.item:hover{
  scale: 1.5;
}

.item >img{
  border: 1px solid black;
}


